<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quimera</title>
    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" rel="preload">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/regular.min.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/solid.min.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/fontawesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/plugins/ionicons/ionicons.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/sweetalert2/package/dist/sweetalert2.min.css" />
    <!-- Font -->
    <link rel="stylesheet" href="~/plugins/bootstrap-float-label/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <!-- Jquery -->
    <link rel="stylesheet" href="~/plugins/jquery-ui/jquery-ui.css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Datatable Buttons -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-autofill/css/autoFill.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-select/css/select.bootstrap4.min.css" />
    <!-- Template -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
    <!-- Main styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="text-sm layout-fixed small" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light text-sm border-bottom-0">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">                   
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                @*<img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">*@
                <span class="brand-text font-weight-bold">ADMINISTRADOR CLIENTE</span>
                <span class="brand-text font-weight-bold">
                 <img src="/perfil.png" alt="Icono" class="brand-icon">
                 </span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar os-host os-theme-light os-host-overflow os-host-resize-disabled os-host-transition os-host-overflow-y os-host-scrollbar-horizontal-hidden">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-compact" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Inicio -->
                        <li class="nav-item">
                            <a active-when="/Home/Index" asp-controller="Clientes" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <!-- Solicitudes -->
                        <li class="nav-item">
                            <a active-when="/Solicitudes/Index" asp-controller="Clientes" asp-action="Create" class="nav-link">
                                <i class="fa fa-user nav-icon"></i>
                                <p>Solicitudes</p>
                            </a>
                        </li>
                        <!-- Municipios -->
                        <li class="nav-item">
                            <a active-when="/Municipios/Index" asp-controller="Direccion" asp-action="Create" class="nav-link">
                                <i class="fa fa-map-pin nav-icon"></i>
                                <p>Municipios</p>
                            </a>
                        </li>
                           <!-- Municipios -->
                        <li class="nav-item">
                            <a active-when="/Municipios/Index" asp-controller="Direccion" asp-action="Index" class="nav-link">
                                <i class="fa btn-social  nav-icon"></i>
                                <p>Vista zona </p>
                            </a>
                        </li>
                        <!-- Usuarios -->
                        <li class="nav-item">
                            <a active-when="/Users/Index" asp-controller="Categoria" asp-action="Index" class="nav-link">
                                <i class="fa fa-cog"></i>
                                <p>Configuracion</p>
                            </a>
                        </li>
                      
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">

            <section class="content">
                <div class="container-fluid pt-1 mt-1">


                    @RenderBody()
                </div>

            </section>
            <!-- /.content -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border:1px solid #666;background-color: rgba(0, 0, 0, 0.1) !important;color: #000 !important;">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-gradient-light" style="border:1px solid #666;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2023-2025 <a href="https://adminlte.io">QUIMERA-X.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.2.0
        </div>
    </footer>

      @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<!-- Bootstrap core JavaScript-->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Validations -->
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.min.js"></script>
<!-- Toast -->
<script src="~/plugins/toastr/toastr.min.js"></script>
<!-- DataTable -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/plugins/datatables-autofill/js/dataTables.autoFill.min.js"></script>
<script src="~/plugins/datatables-autofill/js/autoFill.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
<!-- Select -->
<script src="~/plugins/datatables-select/js/dataTables.select.min.js"></script>
<!-- Datatable Buttons -->
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.flash.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<!-- SwrrtAlert2 -->
<script src="~/sweetalert2/package/dist/sweetalert2.all.min.js"></script>
<script src="~/sweetalert2/package/dist/sweetalert2.min.js"></script>
<!-- PrintThisJs -->
<script src="~/plugins/PrintthisJs/printThis.js"></script>
<!-- Mask -->
<script src="~/plugins/fontawesome-free/webfonts/all.min.js"></script>
<script src="~/dist/js/adminlte.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

