@model Quimera.Models.Categorium

@{
    ViewData["Title"] = "Create";
}

<h4>Agregar Nuevo Cliente</h4>
<hr />
<div class="align-content-center">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label class="control-label">Cedula\RNC</label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Nombre Empresa</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>


<div>
    <a asp-action="Index">Atras</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
