@model IEnumerable<Quimera.Models.Categorium>

@{
    ViewData["Title"] = "Index";
}

<div class="card" style="height:auto">
    <div class="card-body p-2 m-2">
        <a asp-action="Create" class="btn btn-primary text-light float-left btn-sm">
            Nueva <i class="fa fa-plus-square"></i>
        </a>
        <br />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Agregar Empresa</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Nombre)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nombre)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" src="/borrar.png" asp-route-id="@item.Id">Editar</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

